main {
    display: flex;    
    flex-direction: row;
}

.content div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.content #form {
    display: flex;
    flex-direction: row;
}

.content #form div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.content #form .left {
    display: flex;
    flex-direction: row;
}

.content #form .right {
    display: flex;
    flex-direction: row;
}

.left #name {
    padding-left: 53px;
}

.left #tanggal {
    padding-left: 1px;
}

.left #pesan {
    padding-left: 54px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.content #table {
    display: grid;
}

.container {
    border: 5px solid #FFCC5C;
    display: flex;
    justify-content: flex-end;
}

.container div {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #FFEEAD;
    border: 2px solid;
    background-color: green;
}

footer {
    text-align: end;
}